body{
    background-color: white;
    color: rgba(42, 104, 238, 0.808);
}

/* STARTSIDAN*/
.topleftmenu{
    background-color:rgba(42, 104, 238, 0.808);
    color: white;
}

/* UTFORSKASIDAN*/


/* OM OSS-SIDAN */

/* KONTAKTSIDAN*/
