
/*CSS som berör alla sidor i applikationen*/
body{
    background-color: white;
    color: rgba(42, 104, 238, 0.808);
}

.topleftmenu{
    background-color:rgba(42, 104, 238, 0.808);
    color: white;
    position: absolute;
}

.toprightmenu{
    background-color:rgba(42, 104, 238, 0.808);
    color: white;
}
#search{
    
}

/* STARTSIDAN*/
.startpageinfo{

}

.news{
    
}
/* UTFORSKASIDAN*/


/* OM OSS-SIDAN */

/* KONTAKTSIDAN*/
