body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topleftmenu{
  background-color:rgba(42, 104, 238, 0.808);
  color: white;
}
.topleftmenu a{
  text-decoration: none;
}
.topleftmenu a:hover{
  color: black;
}
.topleftmenu a:visited{
  color: white;
}

#startpagelink{
  position: relative;
}
#explorelink{
  position: relative;
  left: 25%;
  bottom: 60px;
}
#gallerylink{
  position: relative;
  left: 40%;
  bottom: 110px;
}
#contactlink{
  position: relative;
  left: 60%;
  bottom: 160px;
}
